/* main */

.page {
    flex: 1 1 auto;
  }
  .description {
    background: linear-gradient(
        0deg,
        #651fff -1.81%,
        #ff5900 33.5%,
        rgba(253, 191, 15, 0.3) 84.16%,
        #fff 145.56%
      ),
      #fdbf0f;
    z-index: 1;
    position: relative;
    overflow: hidden;
  }
  .description::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fff 0%, rgba(0, 0, 0, 0) 64%);
  }
  
  .description__container {
    position: relative;
  }
  .description__container::after,
  .description__container::before {
    content: "";
    position: absolute;
    z-index: 2;
    border-color: rgba(253, 191, 15, 0.3);
    border-style: solid;
    border-radius: 50%;
    border-right: none;
    border-bottom: none;
  }
  .description__container::after {
    top: 50%;
    left: -8px;
    width: 1900px;
    height: 1900px;
    border-width: 180px;
    transform: translateY(-49%) rotate(-45deg);
  }
  
  .description__container::before {
    top: 50%;
    left: 345px;
    width: 1150px;
    height: 1150px;
    border-width: 150px;
    transform: translateY(-48%) rotate(-45deg);
  }
  
  .description__box {
    position: relative;
    padding: 11.7rem 0 8.3rem 0;
    z-index: 10;
    max-width: 455px;
  }
  
  .description__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.7rem;
    line-height: 117%;
    margin: 0 0.8rem -0.8rem 0;
    text-align: end;
  }
  
  .description__subtitle {
    display: block;
    padding: 0 0 23.0769230769% 0;
  }
  .description__text {
    font-family: "Roboto Condensed", sans-serif;
    margin: 1.35rem 0 1.15rem 0;
    font-size: 1.1rem;
    line-height: 132%;
    letter-spacing: 0.06px;
  }
  #description__btn {
    font-size: 1.2rem;
    min-height: 3rem;
    padding: 5px 1.75rem 8px 1.9rem;
  }
  .description__backgimg {
    max-width: 100%;
    position: absolute;
    left: 12%;
    bottom: 0;
    z-index: 5;
  }
  
  .description__ali {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    top: 7.5%;
    left: 60%;
    width: 375px;
    height: 375px;
    border: 120px solid rgba(253, 191, 15, 0.6);
    border-radius: 50%;
  }
  
  .description__alifigure {
    width: 212px;
    height: 211px;
    border-radius: 50%;
    opacity: 1;
  } 